/* Fuentes */
@font-face {
    font-family: 'Roboto';
    /* src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,400&display=swap'); */
    src: url("../Fuentes/Roboto-Light.ttf");
}

/* body */
body{
    margin: 0 auto;
    width: 100%;
    font-size: 8px;
    font-family: "roboto";
}

a {
    text-decoration: none;
    color: black;
}

/* header */

header{
    width: 100%;
    color: white;
    background-color: black;
    border-radius: 14px;
    font-family: 'Roboto', sans-serif;
}

header h1 {
    text-align: center;
    font-weight: normal;
    margin: 0 auto;
    padding: 15px 0px;
    letter-spacing: 2px;
    font-size: 2rem;
}

/* main */

main{
    display: grid;
    grid-template-columns: 100%;
}

#central h3:first-child{
    padding: 2% 0px;
    padding-left: 6%;
    font-size: 1.7vw;
}

#central h3:nth-child(2){
    text-align: center;
    font-size: 1.7vw;
}

label {
    font-size: 1vw;
}

#boton {
    width: 80%;
    height: 2em;
    border-radius: 0px 8px 0px 8px;
    border: 1px solid gray;
    margin-inline: auto;
}

form{
    display: grid;
    align-items: flex-end;
    justify-content: center;
    grid-template-rows: 25px 25px 50px 25px 60px 25px;
}

.campos {
    border: 1px solid rgba(70, 197, 50, 0.85);
    height: 20px;
    text-align: center;
    border-radius: 10px;
}

/* footer*/

footer{
    width: 100%;
    background-color: rgba(0, 44, 157, 0.64);
    border-radius: 5px;
    height: 50px;
    position: absolute;
    bottom: 0;
}